<section>
    <h1 class="mb-4 ml-3">Products</h1>
    <div class="container-fluid">
        <div class="row">
            <ng-container *ngFor="let product of products">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
                <div class="card h-100">
                    <img [src]="product.imageUrl" class="card-img-top" alt="product-image">
                    <div class="card-body d-flex flex-column">
                      <p class="card-text">{{product.name}} / <span>{{product.price | currency: 'EUR'}}</span></p>
                      <button class="btn btn-primary w-100 mt-auto">Add to Cart</button>
                    </div>
                  </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>