<ul class="nav flex-column mt-5">
    <li class="nav-item border-none mb-3" role="button" routerLink="/home"
        routerLinkActive="bg-dark text-white rounded">
        <a class="nav-link active">Home
        </a>
    </li>
    <li class="nav-item border-none mb-3" role="button" routerLink="/product"
        routerLinkActive="bg-dark text-white rounded">
        <a class="nav-link">Product
        </a>
    </li>
    <li class="nav-item border-none mb-3" role="button" routerLink="/company"
        routerLinkActive="bg-dark text-white rounded">
        <a class="nav-link">Company
        </a>
    </li>
    <li class="nav-item border-none mb-3" role="button" routerLink="/contact"
        routerLinkActive="bg-dark text-white rounded">
        <a class="nav-link">Contact
        </a>
    </li>
</ul>